<link rel="stylesheet" type="text/css" href="/styles.css">
<div id="container">
<ul>
  <% @ingredients.each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>
<div id="imgleo"><img id="leo" src ="/leonardo.jpg"
   alt="Leonardo meme"></div>
 <p style="text-align: center">
  Leonardoooooooo
</p>
 </div>