<html>
<head>
  <title>Add | Online Calculator</title>
</head>
<body>
  <h1>Online Calculator</h1>
<div id="article">
  <h2>Calculator AGAIN |<%= @recieved_num %>|</h2>
  <p>
  <form action="/calculate" method="POST">
    <input type="number" name="first_number" placeholder="1st number" value = "<%= @recieved_num %>">
    <input type="number" name="second_number" placeholder="2nd number">

    <button type="submit" name="operation" value="sum">ADD</button>
    <button type="submit" name="operation" value="sub">SUB</button>
    <button type="submit" name="operation" value="mul">MUL</button>
    <button type="submit" name="operation" value="div">DIV</button>
  </form>
  </p>
</div>
</body>
</html>