<html>
<head>
  <title>Insecure Password</title>
</head>
<body>
  <h1>Check password</h1>
<div id="article">
  <h2>LOGGED !!!!!!!!!!!!!!</h2>
<br /><br />
<img style="width: 300px; height: auto;" src="http://i1.kym-cdn.com/photos/images/facebook/000/070/279/leostrutoriginal.jpg" alt="Logged!">

</div>
</body>
</html>