<html>
<head>
  <title>Insecure Password</title>
</head>
<body>
  <h1>Check password</h1>
<div id="article">
  <h2>Form</h2>
  <p>
  <form action="/senddata" method="POST">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">

    <button type="submit" name="operation" value="sumbit">Enviar</button>
  </form>
  </p>
</div>
</body>
</html>